<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="taojinsimu.com.mortgage.mapper.HouseMortgageInfoMapper">


    <!-- select语句 -->

    <select id="getByUserId" parameterType="int"  resultType="HouseMortgageInfo" >
        select * from sf_house_mortgage_info where user_id = #{userId}
    </select>

    <select id="getUserHouseList" parameterType="taojinsimu.com.mortgage.condition.HouseCondition" resultType="taojinsimu.com.mortgage.dto.UserHouseDto">
        select info.id as house_info_id,info.mortgage_price as mortgage_price,info.village_name,info.village_address,info.certificate_house_img_url,
            info.status as house_status,info.create_time as house_create_time,info.contact_phone,info.contact_name,
            user.id as user_id,user.user_name
        from sf_house_mortgage_info info left join sf_user user on user.id=info.user_id
        where info.status =#{condition.houseStatus}

    </select>




</mapper>